.ql-toolbar.ql-snow {
    border-radius: 4px 4px 0 0;
}

.ql-container.ql-snow {
    border-radius: 0 0 4px 4px;
}

.quill:hover > .ql-toolbar.ql-snow {
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
}

.quill:hover > .ql-container.ql-snow {
    border-left-color: black;
    border-bottom-color: black;
    border-right-color: black;
}

.ql-editor.ql-blank:focus > .ql-toolbar.ql-snow {
    border-left-color: 2px solid #29539b;
    border-top-color: 2px solid #29539b;
    border-right-color: 2px solid #29539b;
}

.ql-editor.ql-blank:focus > .ql-container.ql-snow {
    border-left-color: 2px solid #29539b;
    border-bottom-color: 2px solid #29539b;
    border-right-color: 2px solid #29539b;
}
